.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the start (top) */
    height: 100vh;
    
}

.login-form {
    background-color: #fff;
    padding: 3rem; /* Further increased padding */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Further increased width */
    text-align: center;
}

.Email-formGroup {
    margin-bottom: 2.5rem; /* Further increased margin-bottom */
    text-align: left; /* Align text to the left */
    font-size: 30px;
    
}

.Pwd-formGroup {
    margin-bottom: 2.5rem; /* Further increased margin-bottom */
    text-align: left; /* Align text to the left */
    font-size: 30px;
}



.login-form input {
    width: 100%;
    padding: 1rem; /* Increased padding */
    margin-bottom: 1.5rem; /* Margin-bottom adjusted for consistent spacing */
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1.5rem; /* Increased font-size */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */

}

.input.email {
    height: 4rem; /* Increased height for the email input */
    
}

.login-button {
    width: 100%;
    padding: 1.5rem; /* Increased padding */
    border-radius: 3px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1.5rem; /* Increased font-size */
}

.error {
    color: red;
    margin-bottom: 2.5rem; /* Further increased margin-bottom */
    font-size: 1.5rem; /* Increased font-size */
}
