.voice-container {
  margin: 50px;
}
.voice-list {
  max-height: 700px; /* 최대 높이 설정, 필요에 따라 조정 */
  overflow-y: auto; /* 수직 스크롤 적용 */
  overflow-x: hidden; /* 수평 스크롤 적용 */
  max-width: 90%;
  border: 0px solid #ddd;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* 가로 가운데 정렬 */
}
.filter-buttons {
  width: 50%;
  margin-left: auto; /* 오른쪽으로 이동 */
  margin: 0 auto;
  padding-left: 20px; /* 필요에 따라 여백 조정 */
  text-align: center;
  padding: 50px;
  border-radius: 8px;
}
.filter-buttons input {
  background-color: white;
  width: 40%;
  margin: 50 auto;
  padding-left: 20px; /* 필요에 따라 여백 조정 */
}

.voice-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 60%;
  transition: background-color 0.3s ease;
  margin: 0 auto; /* 가로 가운데 정렬 */
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.voice-item table {
  border: none;
  border-collapse: collapse; /* 테이블 경계선 제거 */
  width: 100%; /* 테이블 너비를 부모 요소에 맞춤 */
}

.voice-item th,
.voice-item td {
  border: none; /* 셀 테두리 설정 */
  padding: 5px; /* 셀 내부 여백 설정 */
}

.voice-item th {
  background-color: #f2f2f2; /* 테이블 헤더 배경색 */
  text-align: center; /* 헤더 텍스트 가운데 정렬 */
}

.voice-item td {
  text-align: left; /* 데이터 셀 텍스트 왼쪽 정렬 */
}

.voice-item td:nth-child(1) {
  width: 25%; /* 첫 번째 열의 너비 지정 */
}

.voice-item td:nth-child(2) {
  width: 40%; /* 두 번째 열의 너비 지정 */
}

.voice-item td:nth-child(3) {
  width: 45%; /* 세 번째 열의 너비 지정 */
}
